.rbc-time-content {
  background-color: #1a1a1a ;
}
.rbc-time-header {
  background-color: #1a1a1a;
}
.rbc-time-gutter {
  background-color: #1a1a1a;
}
.rbc-event {
  background-color: #1a1a1a;
}
.rbc-event-label {
  color: #fff;
}
